/*
 * ===================== Global
 */
header {
  overflow: hidden;
}

// Colors
$info: rgba(9, 144, 231, 0.7) !important;
$infoHover: rgba(9, 144, 231, 0.95) !important;

.bg-info {
  background-color: $info;
}

.text-info {
  color: $info;

  a {
    &:hover,
    &:focus {
      background-color: $infoHover;
    }
  }
}

.border-info {
  border-color: $info;
}

/*
 * ===================== Form
 */
form {

  input {

    &[type="text"] {

      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      box-shadow: none !important;

      &:active,
      &:focus {

        &::placeholder {
          opacity: 0.3;
        }
      }

      &:disabled {
        background-color: #e9ecef !important;
      }
    }
  }

  .rounded-right {

    &.disabled {

      &,
      button,
      button span {
        background-color: #e9ecef !important;
      }
    }

    button {

      &[type="submit"] {

        span {
          display: inline-block;
          width: 22px;
          height: 22px;
          vertical-align: text-top;

          i {
            font-size: 22px;
          }
        }
      }
    }
  }
}

/*
 * ===================== Accordion
 */
.card-header {

  .btn {

    .fa-chevron-circle-up,
    &.collapsed .fa-chevron-circle-down {
      display: block;
      line-height: 1.3;
    }

    .fa-chevron-circle-down,
    &.collapsed .fa-chevron-circle-up {
      display: none;
    }
  }
}

/*
 * ===================== Footer image
 */
footer {

  .img {
    outline: none;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 4px 11px 4px;

    img {
      filter: grayscale(100%);
      transform: rotate(-2deg);
      cursor: zoom-in;
      transition: filter 500ms, transform 500ms;
    }

    &.active img {
      filter: none;
      transform: scale(4, 4);
      cursor: zoom-out;
    }
  }
}
