/*
 * ===================== Global
 */
header {
  overflow: hidden;
}

.bg-info {
  background-color: rgba(9, 144, 231, 0.7) !important;
}

.text-info {
  color: rgba(9, 144, 231, 0.7) !important;
}
.text-info a:hover, .text-info a:focus {
  background-color: rgba(9, 144, 231, 0.95) !important;
}

.border-info {
  border-color: rgba(9, 144, 231, 0.7) !important;
}

/*
 * ===================== Form
 */
form input[type=text] {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  box-shadow: none !important;
}
form input[type=text]:active::placeholder, form input[type=text]:focus::placeholder {
  opacity: 0.3;
}
form input[type=text]:disabled {
  background-color: #e9ecef !important;
}
form .rounded-right.disabled,
form .rounded-right.disabled button,
form .rounded-right.disabled button span {
  background-color: #e9ecef !important;
}
form .rounded-right button[type=submit] span {
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: text-top;
}
form .rounded-right button[type=submit] span i {
  font-size: 22px;
}

/*
 * ===================== Accordion
 */
.card-header .btn .fa-chevron-circle-up, .card-header .btn.collapsed .fa-chevron-circle-down {
  display: block;
  line-height: 1.3;
}
.card-header .btn .fa-chevron-circle-down, .card-header .btn.collapsed .fa-chevron-circle-up {
  display: none;
}

/*
 * ===================== Footer image
 */
footer .img {
  outline: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  padding: 4px 11px 4px;
}
footer .img img {
  filter: grayscale(100%);
  transform: rotate(-2deg);
  cursor: zoom-in;
  transition: filter 500ms, transform 500ms;
}
footer .img.active img {
  filter: none;
  transform: scale(4, 4);
  cursor: zoom-out;
}

/*# sourceMappingURL=example.css.map */
